@mixin customBtn-constructer($str, $color, $border, $hoverBg, $hoverColor) {
  .customBtn-#{$str}{
    color: $color;
    border: 2px solid $border;
    &:hover{
        background-color: $hoverBg;
        color: $hoverColor;
    }
  }
}

.customBtn, .customBtn-B{
  display: flex;
  justify-content: center;
  background-color: transparent;
  text-align: center;
  align-items: center;
  // vertical-align: middle;
  border-radius: 30px;
  // width: 100%;
  // width: 350px;
  // height: 60px;
}

.customBtn{
  font-size: 32px;
}

.customBtn-B{
  font-size: 20px;
  // padding: 18px 53px;
}

.customBtn-form{
  padding: 8px 48px;
}

.customBtn-subscribe{
  padding: 21px 26px;
}

@include customBtn-constructer('white', $white, $white, $white, $black);
@include customBtn-constructer('black', $black, $black, $black, $white);


