<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-md container-fluid">
      <h1 class="navbar-brand">
        <a href="index.html" class="d-block">
            d'Perfume
        </a>
      </h1>
      <div class="ml-auto d-flex align-items-center">
        <a class="d-block d-lg-none text-third mr-3" href="#">
          <i class="material-icons">
            shopping_cart
          </i>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link d-flex text-third justify-content-center py-3" href="product.html">
              <i class="material-icons d-none d-lg-flex">
                store
              </i>
              <p class="h5">Product</p>
            </a>
          </li>
          <li class="nav-item d-none d-lg-block">
            <a class="nav-link d-flex text-third justify-content-center py-3" href="login.html">
              <i class="material-icons d-none d-lg-flex">
                person
              </i>
              <p class="h5">log in</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex text-third justify-content-center py-3" href="#">
              <i class="material-icons d-none d-lg-flex">
                favorite
              </i>
              <p class="h5">Wishlist</p>
            </a>
          </li>
          <li class="nav-item d-lg-none">
            <a class="nav-link d-flex text-third justify-content-center py-3" href="#">
              <p class="h5">Blog</p>
            </a>
          </li>
          <li class="nav-item d-lg-none">
            <a class="nav-link d-flex text-third justify-content-center py-3" href="#">
              <p class="h5">Contact</p>
            </a>
          </li>
          <li class="nav-item d-lg-none">
            <a class="nav-link d-flex text-third justify-content-center py-3" href="login.html">
              <p class="h5">log in</p>
            </a>
          </li>
          <li class="nav-item d-none d-lg-block">
            <a class="nav-link d-flex text-third justify-content-center py-3" href="#">
              <i class="material-icons d-none d-lg-flex">
                shopping_cart
              </i>
              <p class="h5">Cart(3)</p>
            </a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>

  <%- contents %>

  <footer class="footer bg-primary">
    <div class="container-md container-fluid d-flex align-items-center py-9 py-lg-5">
      <a href="index.html"><img src="assets/images/d’Perfumewhite.png" class="mr-lg-2 d-none d-lg-block footer-icon"></a>
      <a href="index.html"><img src="assets/images/d’Perfumewhite@2x.png" class="d-lg-none footer-icon"></a>
      <p class="text-white mb-0 ml-auto ml-lg-2"><small>© 2020. All Rights Reserved.</small></p>
      <ul class="text-white h5 list-unstyled ml-auto d-none d-lg-flex">
        <li class="px-3 footer-menu"><a href="product.html" class="text-decoration-none text-white">Product</a></li>
        <li class="px-3 footer-menu"><a href="#" class="text-decoration-none text-white">Blog</a></li>
        <li class="px-3 footer-menu"><a href="#" class="text-decoration-none text-white">Contact</a></li>
      </ul>
    </div>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>

</html>
